Unable to find plugin: acme (Puma::UnknownPlugin)

Hello,

I'm considering using this gem but I can't seem to get my rails application to start using the suggested config options:
```
# Config for ACME
plugin :acme

acme_server_name 'puma-acme.example.org'
acme_tos_agreed true
```
then:
```
 bundle exec puma -p 3000
bundler: failed to load command: puma (/Users/gilad/.asdf/installs/ruby/3.3.0/bin/puma)
/Users/gilad/.asdf/installs/ruby/3.3.0/lib/ruby/gems/3.3.0/gems/puma-6.4.3/lib/puma/plugin.rb:50:in `rescue in find': Unable to find plugin: acme (Puma::UnknownPlugin)
	...
/Users/gilad/.asdf/installs/ruby/3.3.0/lib/ruby/3.3.0/bundled_gems.rb:74:in `require': cannot load such file -- puma/plugin/acme (LoadError)
```
I've added the gem to my Gemfile and ran `bundle install`.  What am I missing?

Looks l need to add a require to the config file:
```
# puma.rb
require "puma/acme"

# Config for ACME
plugin :acme

acme_server_name 'puma-acme.example.org'
acme_tos_agreed true
```

Is that correct?  Perhaps the README needs to be updated?

I'm also having issues with some of the more complex config options:
```
# Config for ACME
plugin :acme

config.bind "tcp://0.0.0.0:80"
config.bind "acme://0.0.0.0:443"

# Account contact URL(s). For email, use the form 'mailto:user@domain.tld'.
# Recommended for account recovery and revocation.
acme_contact "mailto:my-monitor@gmail.com"

# Specify server names (SAN extension).
acme_server_names "site-dev.it.edu", "www.site-dev.it.edu"

# Enable automatic renewal based on an amount of time or fraction of life
# remaining. For an amount of time, use Integer seconds, for example the value
# 2592000 will set renewal to 30 days before certificate expiry. For a fraction
# of life remaining, use a Float between 0 and 1, for example the value 0.75
# will set renewal at 75% of the way through the certificate lifetime.
acme_renew_at 0.75

# URL of ACME server's directory URL, defaults to LetsEncrypt.
acme_directory "https://acme.enterprise.sectigo.com"

# Accept the Terms of Service (TOS) of an ACME server with the server's
# directory URL as a string or true to accept any server's TOS.
acme_tos_agreed true

# External Account Binding (EAB) token KID & secret HMAC key for the ACME
# server. See RFC 8555, Section 7.3.4 for details.
acme_eab_kid      ENV["ACME_KID"]
acme_eab_hmac_key ENV["ACME_HMAC_KEY"]

# Encryption key algorithm, either :ecdsa or :rsa, defaults to :ecdsa.
acme_algorithm :ecdsa

# Provision mode, either :background or :foreground, defaults to :background.
# Background mode provisions certificates in a background thread without
# blocking binding or request serving for non-acme listeners.
# Foreground mode blocks all binding listeners until a certificate
# provisions, compatible only with zero-challenge ACME flow.
acme_mode :background

# ActiveSupport::Cache::Store compatible cache to store account, order, and
# certificate data. Defaults to a local filesystem based cache.
acme_cache Rails.cache

# Path to the cache directory for the default cache, defaults to 'tmp/acme'.
acme_cache_dir "tmp/acme"

# Time to wait in seconds before rechecking order status, defaults to 1 second.
acme_poll_interval 1

# Time to wait in seconds before checking for renewal, defaults to 1 hour.
acme_renew_interval 60 * 60
```

then I get:
```
config/puma.rb:58:in `_load_from': undefined local variable or method `config' for an instance of Puma::DSL (NameError)
Did you mean?  @config
```

Calling `bind` instead of `config.bind` I'm getting:
```
config/puma.rb:99:in `_load_from': uninitialized constant Puma::DSL::Rails (NameError)
```

@giladshanan Sorry to hear you are having trouble and thanks for the detailed report.

Oof, sounds like we have a few mistakes in the readme still. We mostly don't use this directly, but instead through https://github.com/anchordotdev/anchor-rb, which maybe hid from us that this was wrong. In any event, let me see if I can help you out first and then we can see about updating the README.

First, it does look like the README omits the very important require, so we should add that.

Second, I think bind is a keyword directly from the Puma DSL. So I think you can drop the `config.` parts and it should probably work, or at least get us to the next unfortunate omission:

So you would replace:

```ruby
config.bind "tcp://0.0.0.0:80"
config.bind "acme://0.0.0.0:443"
```

With this:

```ruby
bind "tcp://0.0.0.0:80"
bind "acme://0.0.0.0:443"
```

Again, sorry about that. Just let me know if you have any other questions and please let me know if that works for you. I'd also be curious to hear more about your use case. And of course if you'd like to help with the README I'd welcome it, but I'm also happy to fix it up once we know the necessary changes. Thanks!

@giladshanan Thanks for the update.

That Rails error looks like another missing require to me, though I'm not certain. Might need to require 'rails' or some subset prior to referencing it.

Yeah, the external account required error would be expected and likely indicates that you have it integrated correctly and just need credentials, so that's a plus! The `anchor-rb` repo I linked to and the autocert plugin facilitates that via environment variables, fwiw, but you should be able to do that directly here or pull them from elsewhere if you prefer.

@geemus I added `require "rails"` and can confirm that resolves `uninitialized constant Puma::DSL::Rails (NameError)`.

I tried to push a branch but I don't have access (naturally).
Here's my suggested changes to the README:

![Screenshot 2024-11-26 at 5 14 15 PM](https://github.com/user-attachments/assets/a699ca20-f1a8-474e-81fb-159d4e901798)


Thanks for the update and changes. I won't have a chance to incorporate this week due to the US Thanksgiving holiday, but I should be able to make the changes early next week.

@giladshanan Turns out I had a little time after all, so I went ahead and updated the README. Thanks again for your feedback and suggestions. Just let me know if you have further questions or feedback.

@giladshanan great, I hope it goes smoothtly. Just let us know if you have further questions or feedback.